[submodule "Core/Lib/external/glm"]
	path = Core/Lib/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "OpenGL/Lib/external/glfw"]
	path = OpenGL/Lib/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "OpenGL/Lib/external/soil"]
	path = OpenGL/Lib/external/soil
	url = https://github.com/paralin/soil.git
[submodule "DirectX/Lib/external/sdl2"]
	path = DirectX/Lib/external/sdl2
	url = https://github.com/davidsiaw/SDL2.git